<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TheBlog</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <div>
        <h1>TheBlog</h1>
        <p class="writings">
          Discover the secrets to unlocking your full potential and achieving
          your dreams with our latest blog.
        </p>
        <div class="link_div">
          <a href="/" class="link">Home</a>
          <div>
            <a href="/signup" class="link">Sign up</a>
            <a href="/login" class="link">Login</a>
          </div>
        </div>
      </div>
    </header>
    <div class="main_signup">
      <% if (errorParam) { %>
        <p class="error"><%= errorParam.message %></p>
    <% } %> 
      <p class="small_texts">
        check your email(including spams) for the link.(expires in 15mins)
      </p>
      <form action="/v1/request-reset" method="post">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" /> <br />
        <input type="submit" value="SEND" class="center" />
      </form>
    </div>
    <div class="foot">
      <footer>
        <p>designed by Toluwanimi</p>
      </footer>
    </div>
  </body>
</html>
